
:root {
  color-scheme: dark;
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 21px;
  line-height: 1.15;
}

body {
  background-color: var(--base);
  color: var(--text);
  margin: 0;
}

#content {
  margin-right: auto;
  margin-left: auto;
  max-width: 34em;
  padding: 1rem;
  line-height: 1.5;
}

h1>span, .aside {
  color: var(--subtext0);
  font-weight: lighter;
  font-size: 60%;
  font-style: italic;
}
h1>span {
  float: right;
}

h2::before {
  color: var(--subtext0);
  font-family: mono;
  font-size: 120%;
  content: ">";
  padding-right: 8px;
  vertical-align: -5%;
}

li::marker {
  color: var(--subtext0);
}

td {
  text-align: center;
}

/* oh small screens,,,,,,
p {
  text-align: justify;
}
 */

:nth-of-type(5n+2)>h2 { color: var(--red); }
:nth-of-type(5n+3)>h2 { color: var(--yellow); }
:nth-of-type(5n+4)>h2 { color: var(--green); }
:nth-of-type(5n+5)>h2 { color: var(--blue); }
:nth-of-type(5n+6)>h2 { color: var(--mauve); }

.color>li:nth-of-type(8n+1), .color>tbody>tr:nth-of-type(8n+1) { color: var(--lavender); }
.color>li:nth-of-type(8n+2), .color>tbody>tr:nth-of-type(8n+2) { color: var(--blue); }
.color>li:nth-of-type(8n+3), .color>tbody>tr:nth-of-type(8n+3) { color: var(--teal); }
.color>li:nth-of-type(8n+4), .color>tbody>tr:nth-of-type(8n+4) { color: var(--green); }
.color>li:nth-of-type(8n+5), .color>tbody>tr:nth-of-type(8n+5) { color: var(--yellow); }
.color>li:nth-of-type(8n+6), .color>tbody>tr:nth-of-type(8n+6) { color: var(--peach); }
.color>li:nth-of-type(8n+7), .color>tbody>tr:nth-of-type(8n+7) { color: var(--red); }
.color>li:nth-of-type(8n+8), .color>tbody>tr:nth-of-type(8n+8) { color: var(--mauve); }

.color_alt>li:nth-of-type(5n+1), .color_alt>tbody>tr:nth-of-type(5n+1), .outline-3:nth-of-type(5n+2)>h3, .outline-3:nth-of-type(5n+2) a { color: var(--peach); }
.color_alt>li:nth-of-type(5n+2), .color_alt>tbody>tr:nth-of-type(5n+2), .outline-3:nth-of-type(5n+3)>h3, .outline-3:nth-of-type(5n+3) a { color: var(--sapphire); }
.color_alt>li:nth-of-type(5n+3), .color_alt>tbody>tr:nth-of-type(5n+3), .outline-3:nth-of-type(5n+4)>h3, .outline-3:nth-of-type(5n+4) a { color: var(--maroon); }
.color_alt>li:nth-of-type(5n+4), .color_alt>tbody>tr:nth-of-type(5n+4), .outline-3:nth-of-type(5n+5)>h3, .outline-3:nth-of-type(5n+5) a { color: var(--teal); }
.color_alt>li:nth-of-type(5n+5), .color_alt>tbody>tr:nth-of-type(5n+5), .outline-3:nth-of-type(5n+6)>h3, .outline-3:nth-of-type(5n+6) a { color: var(--pink); }

a {
  color: inherit;
  filter: brightness(125%);
}
