@font-face {
    font-family: 'Pixel';
    src: url('/resources/fonts/somybmp01_7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pixel2';
    src: url('/resources/fonts/hypnospace-outlaw.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    overflow: scroll;
    background: rgb(20, 20, 20);
}

body {
    margin: 0;
    font-family: 'Pixel';
    font-size: 7px;
    line-height: 8px;
    color: rgb(235, 228, 221);
    filter: url("#crispify");
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scalercontainer {
    position: relative;
    top: -8px;
    margin: 0 auto;
}

.scaler {
    width: 300px;
    height: auto;
    transform: scale(4);
    transform-origin: top left;
    box-sizing: border-box;
}

/* #region status */
.status {
    position: relative;
    width: 300px;
    height: 53px;
    border: 6px;
}

.statusbackground {
    position: absolute;
    top: 16px;
    left: 7px;
    width: 287px;
    height: 31px;
    background-image: url('/resources/images/status.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-color: rgb(0 0 0 / 0); 
    background-clip: padding-box;
    image-rendering: pixelated;
}

.statusname {
    position: absolute;
    top: 6px;
    left: 6px;
}

.statusupdate {
    position: absolute;
    top: 6px;
    left: 232px;
    color: rgb(185, 172, 171);
}

.statusicon {
    position: absolute;
    top: 26px;
    left: 13px;
    width: 18px;
    height: 18px;
    background-image: url('/resources/images/emote-1.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-color: rgba(0, 0, 0, 0);
    background-clip: padding-box;
    image-rendering: pixelated;
}

.statustext {
    position: absolute;
    top: 18px;
    left: 49px;
    max-width: 240px;
    line-height: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* #endregion */

.content {
    position: relative;
    width: 300px;
    border-bottom: 10px solid rgb(0 0 0 / 0);
    background-image: url('/resources/images/polyomino background.png');
    background-repeat: repeat;
    background-size: auto;
    background-clip: border-box;
    image-rendering: pixelated;
    overflow: hidden;
}

.textbox {
    position: absolute;
    top: var(--top);
    left: var(--left);
    width: var(--width);
    text-align: var(--text-align);
    font-family: var(--font-family);
    color: var(--color);
}

/* #region links */
.textbox[data-url]:hover {
    cursor: pointer;
}

.textbox[data-url]:hover::after,
.textbox[data-url]:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
    border: 1px solid transparent;
    box-sizing: content-box;
}

.textbox[data-url]:hover::after,
.textbox[data-url]:hover::before {
    border-image-slice: 1;
    border-image-repeat: repeat;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    --mask: conic-gradient(at 6px 6px,#000 75%,#0000 0) -3px -3px;	
    -webkit-mask: var(--mask);
            mask: var(--mask);
}

.textbox[data-url]:hover::after {
    top: -3px;
    left: -3px;
    padding: 2px 1px 0px 2px;
    border-image-source: url("/resources/images/border-1.png");
    animation-name: antcrawl;
}

.textbox[data-url]:hover::before {
    top: -2px;
    left: -2px;
    padding: 1px 2px 1px 1px;
    border-image-source: url("/resources/images/border-shadow-1.png");
    animation-name: antcrawlshadow;
}

/*
.textbox[data-url]:hover::after::after,
.textbox[data-url]:hover::before::after {
    background-repeat: no-repeat;
    background-position-x: -1px;
    background-position-y: -1px;
    background-clip: border-box;
}

.textbox[data-url]:hover::after::after {
    background-image: url("/resources/images/border-corner.png");
}

.textbox[data-url]:hover::before::after {
    background-image: url("/resources/images/border-shadow-corner.png");
}*/

@keyframes antcrawl { /* rgb(154 199 245 / 0.5) */
     0% { border-image-source: url("/resources/images/border-1.png"); }
    25% { border-image-source: url("/resources/images/border-2.png"); }
    50% { border-image-source: url("/resources/images/border-3.png"); }
    75% { border-image-source: url("/resources/images/border-4.png"); }
}

@keyframes antcrawlshadow { /* rgb(29 37 69 / 0.5) */
    0% { border-image-source: url("/resources/images/border-shadow-1.png"); }
   25% { border-image-source: url("/resources/images/border-shadow-2.png"); }
   50% { border-image-source: url("/resources/images/border-shadow-3.png"); }
   75% { border-image-source: url("/resources/images/border-shadow-4.png"); }
}
/* #endregion */

.linebox {
    position: relative;
    height: 8px;
    min-width: 100%;
}