@font-face {
    font-family: 'Pixel';
    src: url('/assets/fonts/somybmp01_7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* { 
    font-family: 'Pixel';
    font-size: 7px;
    line-height: 8px;
    color: rgb(235, 228, 221);
    /*filter: url(#crispify);*/
}

html {
    min-width: 100%;
    overflow: scroll;
    background: rgb(20, 20, 20);
}

body {
    position: relative;
    margin: 0 auto;
}

.scaler {
    width: 300px;
    height: min-content;
    transform: scale(1);
    transform-origin: top left;
}

.status {
    width: 300px;
    height: 52px;
    background-image: url('/assets/images/status.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-color: rgba(0, 0, 0, 0);
    background-clip: padding-box;
    image-rendering: pixelated;
}

.statusname {
    position: fixed;
    top: 5px;
    left: 6px;
}

.statusupdate {
    position: fixed;
    top: 5px;
    left: 232px;
    color: rgb(185, 172, 171);
}

.statusicon {
    position: fixed;
    top: 25px;
    left: 13px;
    width: 18px;
    height: 18px;
    background-image: url('/assets/images/emote1.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-color: rgba(0, 0, 0, 0);
    background-clip: padding-box;
    image-rendering: pixelated;
}

.statustext {
    position: fixed;
    top: 17px;
    left: 49px;
    max-width: 240px;
    line-height: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content {
    width: 300px;
    height: min-content;
    margin-left: min(calc(50% - 150px), 0);
    /*border-bottom: 20px solid rgba(0, 0, 0, 0);*/
    background-image: url('/assets/images/polyomino background.png');
    background-repeat: repeat;
    background-size: auto;
    background-color: white;
    background-clip: padding-box;
    image-rendering: pixelated;
    overflow: hidden;
}

.textbox {
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

header {
    display: flex;
    justify-content: center;
}