<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/styles.css">
        <link rel="icon" type="image/png" href="/resources/images/favicon.ico" />
        <script src="/scripts/add-link-redirects.js" type=module></script>
        <script src="/scripts/centre-align-shift.js" type=module></script>
        <script src="/scripts/get-content-height.js" type=module></script>
        <script src="/scripts/preload-images.js" type=module></script>
    </head>
    <body>
        <svg class="offscreen" width="0" height="0" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <filter id="crispify">
                    <feComponentTransfer>
                        <feFuncA type="discrete" tableValues="0 1"/>
                    </feComponentTransfer>
                </filter>
            </defs>
        </svg>
        <div class="scalercontainer">
            <div class="scaler">
                <div class="status">
                    <div class="statusbackground"></div>
                    <div class="statusname">
                        LAURAPIGEON'S STATUS
                    </div>
                    <div class="statusupdate">
                        UPDATED TODAY
                    </div>
                    <div class="statusicon"></div>
                    <div class="statustext">
                        @pigeon why did you let out a high pitched yippee what is going on right now
                    </div>
                </div>
                <div class="content">
                    {{ content }}
                </div>
            </div>
        </div>
    </body>
</html>