<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="icon" type="image/png" href="/assets/images/favicon.ico" />
        <script src="/scripts and filters/scripts.js" defer></script>
        <svg class="offscreen" width="0" height="0" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <filter id="crispify">
                    <feComponentTransfer>
                        <feFuncA type="discrete" tableValues="0 1"/>
                    </feComponentTransfer>
                </filter>
            </defs>
        </svg>
        <style>
        </style>
    </head>
    <body>
        <div class="scaler">
            <div class="status">
                <div class="statusname">
                    LAURAPIGEON'S STATUS
                </div>
                <div class="statusupdate">
                    UPDATED TODAY
                </div>
                <div class="statusicon"></div>
                <div class="statustext">
                    status uwu
                </div>
            </div>
            <div class="content">
                {{ content }}
            </div>
        </div>
    </body>
</html>