#content,
#pagetitle {
    position: relative;
    background-repeat: repeat;
    background-size: auto;
    background-clip: padding-box;
    background-position: 0% 0%;
    overflow: hidden;
}
body:not(.minimise) #content {
    height: var(--auto-height, auto);
    filter: url(#crispify);
}
body.minimise #content,
body.minimise #pagetitle {
    font-size: 20px;
    max-width: 30em;
    height: auto;
    margin: auto;
    color: rgb(251, 251, 254);
    font-weight: 400;
    letter-spacing: -0.6px;
    line-height: 32px;
    word-spacing: -1px;
    font-family: Helvetica, Arial, sans-serif;
}

/* positionings for .p in/out of flow */
@property --top    { syntax: "*"; inherits: false; }
@property --left   { syntax: "*"; inherits: false; }
@property --bottom { syntax: "*"; inherits: false; }
@property --right  { syntax: "*"; inherits: false; }
/* sizing for .p */
@property --width  { syntax: "*"; inherits: false; }
@property --height { syntax: "*"; inherits: false; }
/* styles for .p */
@property --bgcol  { syntax: "*"; inherits: false; }
@property --txcol  { syntax: "*"; inherits: true; }

.p {
    display: block;
    position: relative;
    text-align: var(--text-align, left);
}
body:not(.minimise) .p {
    padding-left: var(--padding-left);
    width: var(--width, fit-content);
    height: var(--height, fit-content);
    font-family: var(--font, "basic");
    font-size: var(--font-size, 7px);
    line-height: var(--line-height, 8px);
    transform-origin: var(--auto-transform-origin);
    background-color: var(--bgcol);
}
body.minimise .p {
    width: 100%;
    height: 100%;
}

/* margins except 0px on .free and auto on .center, .right, .bottom */
/* no horizontal margins ever on .minimise */
/* collapse left margins of children into parent */
body:not(.minimise) #content>.p:not(.free):not(.center):not(.right) { margin-left: var(--left, 7px); }
body:not(.minimise) .p>.p:not(.free):not(.center):not(.right) { margin-left: var(--left); }
body:not(.minimise) .p.right { margin-left: auto; }

/* collapse right margins of children into parent */
body:not(.minimise) #content>.p:not(.free):not(.center) { margin-right: var(--right, 7px); }
body:not(.minimise) .p>.p:not(.free):not(.center) { margin-right: var(--right); }

/* collapse top margin of first child */
.p:not(.free):not(.bottom) { margin-top: var(--top, 1em); }
.p.bottom { margin-top: auto; }
.p>.p:first-child { margin-top: 0px; }

/* collapse bottom margin of last child */
.p:not(.free) { margin-bottom: var(--bottom, 1em); }
.p>.p:last-child { margin-bottom: 0px; }

body:not(.minimise) .p.center {
    margin-left: var(--left, auto);
    margin-right: var(--right, auto);
}
/* dont use script generated left/right for .center on .minimise */
body.minimise .p.center {
    margin-left: auto;
    margin-right: auto;
}
body:not(.minimise) .p.free {
    position: absolute;
    top: var(--top);
    left: var(--left);
    bottom: var(--bottom);
    right: var(--right);
    margin: 0px;
}
/* dont position .free on .minimise */
body.minimise .p.free { margin: 1em 0px; }

.linktile {
    background-image: url('/site_resources/images/page_panel.png');
    position: relative;
    --width: 284px;
    --height: 32px;
}

.p.imagebox {
    display: flex !important;
    width: var(--width, fit-content);
    justify-content: space-between;
    line-height: 0px;
    align-items: center;
}

img {
    vertical-align: top;
    image-rendering: pixelated;
}


/* minimise stuff */

body:not(.minimise) #pagetitle { display: none; }

a, a:link, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

body.minimise #pagetitle a,
body.minimise a.p {
    color: rgb(0, 221, 255);
    text-decoration: underline rgb(251, 251, 254);
}
body.minimise #pagetitle a {
    font-size: 0.9em;
    line-height: 1.48em;
    padding-bottom: 4px;
}
body.minimise a.imagebox {
    border: ridge 2px rgb(0, 221, 255);
    border-bottom-color: rgb(251, 251, 254);
    padding: 3px;
}

body.minimise h1 {
    margin: 30px 0;
    padding: 0;
    width: 100%;
    font-size: 1.6em;
    line-height: 1.25em;
}

body.minimise .credit {
    margin: 0 0 10px;
    padding: 0;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.48em;
}

body.minimise #readtime {
    margin: 0 0 15px;
    font-size: 0.65em;
}


/* load stuff */

body:not(.minimise) .p.hidden {
    visibility: hidden;
}
.p:not(.hidden) {
    animation: 0.3s ease-out 0s 1 loadWave;
}

@keyframes loadWave {
    0% { transform: scale(0.9); }
    25% { transform: scale(1.03); }
    50% { transform: scale(0.95); }
    75% { transform: scale(1.01); }
    100% { transform: scale(1); }
}
