#content {
    position: relative;
    box-sizing: border-box;
    background-repeat: repeat;
    background-size: auto;
    background-clip: padding-box;
    background-position: 0% 0%;
    overflow: hidden;
    padding: 0px 7px 0px 7px;
}
body:not(.minimise) #content {
    height: var(--auto-height, auto);
    filter: url(#crispify);
}
body.minimise #content {
    font-size: 20px;
    max-width: 30em;
    height: auto;
    margin: auto;
    font-weight: 400;
    color: rgb(251, 251, 254);
    letter-spacing: -0.6px;
    line-height: 32px;
    word-spacing: -1px;
    font-family: Helvetica, Arial, sans-serif;
}

body:not(.minimise) #pagetitle {
    display: none;
}

body:not(.minimise) .free {
    position: absolute;
    top: var(--top);
    left: var(--left);
    bottom: var(--bottom);
    right: var(--right);
}

body:not(.minimise) .p.free {
    margin: 2px 2px 2px 2px;
}

body:not(.minimise) .center {
    display: block;
    margin-left: var(--auto-margin-left, auto);
    margin-right: var(--auto-margin-right, auto);
}

body.minimise .p.center {
    margin-left: auto;
    margin-right: auto;
}

body:not(.minimise) :not(.p).shift {
    margin-top: var(--top);
    margin-left: var(--left);
    margin-bottom: var(--bottom);
    margin-right: var(--right);
}

body:not(.minimise) .p.shift {
    margin-top: var(--top, 1em);
    margin-left: var(--left, 2px);
    margin-bottom: var(--bottom, 1em);
    margin-right: var(--right, 2px);
}


.p {
    display: block;
    position: relative;
    text-align: var(--text-align, left);
}

.p:not(.center):not(.shift):not(.free) {
    margin-top: 1em;
    margin-left: 2px;
    margin-bottom: 1em;
    margin-right: 2px;
}

body:not(.minimise) .p {
    padding-left: var(--padding-left);
    height: var(--height, fit-content);
    width: var(--width, fit-content);
    font-family: var(--font, "basic");
    font-size: var(--font-size, 7px);
    line-height: var(--line-height, 8px);
    transform-origin: var(--auto-transform-origin);
}

body.minimise .p:not(.imagebox) {
    width: fit-content;
}

.p.imagebox {
    display: flex !important;
    width: var(--width, fit-content);
    justify-content: space-between;
    line-height: 0px;
    align-items: center;
}

img {
    vertical-align: top;
    image-rendering: pixelated;
}

a, a:link, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

body.minimise a.p {
    color: rgb(0, 221, 255);
    text-decoration: underline rgb(251, 251, 254);
    padding-bottom: 4px;
    font-size: 0.9em;
    line-height: 1.48em;
}
body.minimise a.imagebox.p {
    border: ridge 2px rgb(0, 221, 255);
    border-bottom-color: rgb(251, 251, 254);
    padding: 3px;
}

body.minimise h1 {
    margin: 30px 0;
    padding: 0;
    width: 100%;
    font-size: 1.6em;
    line-height: 1.25em;
}

body.minimise .credit {
    margin: 0 0 10px;
    padding: 0;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.48em;
}

body.minimise .readtime {
    margin: 0 0 15px;
    font-size: 0.65em;
}


body:not(.minimise) .p.hidden {
    visibility: hidden;
}
.p:not(.hidden) {
    animation: 0.3s ease-out 0s 1 loadWave;
}

@keyframes loadWave {
    0% {
        transform: scale(0.9);
    }
    25% {
        transform: scale(1.03);
    }
    50% {
        transform: scale(0.95);
    }
    75% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(1);
    }
}