/* #region structure */
html {
    overflow: scroll;
    background: rgb(20, 20, 20);
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

html::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

body {
    margin: 0;
    user-select: none;
}

.scalercontainer {
    position: relative;
    top: -8px;
    margin: 0 auto;
    filter: url(#crispify);
}

.scaler {
    width: 300px;
    height: auto;
    padding: 16px 0px 5px 0px;
    box-sizing: border-box;
    transform: scale(4);
    transform-origin: top left;
}

/* #endregion */

/* #region status */
.status {
    position: relative;
    width: 300px;
    height: 53px;
    border: 6px;
    font-family: 'basic';
    font-size: 7px;
    line-height: 8px;
}

.statusbackground {
    position: absolute;
    top: 16px;
    left: 7px;
    width: 287px;
    height: 31px;
}

.statusname {
    position: absolute;
    top: 6px;
    left: 6px;
    color: rgb(235, 228, 221);
}

.statusupdate {
    position: absolute;
    top: 6px;
    right: 6px;
    color: rgb(185, 172, 171);
}

.statusicon {
    position: absolute;
    top: 26px;
    left: 13px;
    width: 18px;
    height: 18px;
}

.statustext {
    position: absolute;
    top: 18px;
    left: 49px;
    max-width: 240px;
    line-height: 8px;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(235, 228, 221);
}
/* #endregion */

/* #region windowframe */
.windowframe {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 25%;
    height: 25%;
    pointer-events: none;
    transform: scale(4);
    transform-origin: top left;
}

.wftopleft,
.wftop,
.wftopright,
.wfright,
.wfbottomright,
.wfbottom,
.wfbottomleft,
.wfleft {
    position: absolute;
}

.wfbottomleft,
.wfbottom,
.wfbottomright {
    bottom: 0px;
}

.wftopright,
.wfright,
.wfbottomright {
    right: 0px;
}

.wfleft,
.wfright {
    width: 5px;
    height: -webkit-calc(100% - 2px);
    height:    -moz-calc(100% - 2px);
    height:         calc(100% - 2px);
    margin-top: 1px;
    margin-bottom: 1px;
}

.wftop,
.wfbottom {
    width: -webkit-calc(100% - 2px);
    width:    -moz-calc(100% - 2px);
    width:         calc(100% - 2px);
    margin-left: 1px;
    margin-right: 1px;
}

.wftop {
    height: 19px;
}

.wfbottom {
    height: 4px;
}

.browsertitle {
    position: absolute;
    top: 1px;
    left: 22px;
    font-family: 'basic';
    font-size: 7px;
    line-height: 8px;
    color: rgb(48, 36, 84);
}

.navigationbar {
    position: absolute;
    top: 10px;
    left: 28px;
    font-family: 'basic';
    font-size: 7px;
    line-height: 8px;
    color: rgb(220, 175, 240);
}
/* #endregion */

.content {
    position: relative;
    box-sizing: border-box;
    width: 300px;
    background-repeat: repeat;
    background-size: auto;
    background-clip: padding-box;
    background-position: 0% 0%;
    image-rendering: pixelated;
    overflow: hidden;
    padding: 0px 7px 0px 7px;
}

.free {
    position: absolute !important;
    top: var(--top);
    left: var(--left);
    bottom: var(--bottom);
    right: var(--right);
    margin: 0px;
}

.shift {
    position: relative;
    top: var(--top);
    left: var(--left);
    bottom: var(--bottom);
    right: var(--right);
}

.center {
    margin-left: auto;
    margin-right: auto;
}

p {
    position: relative;
    width: var(--width, 0px);
    box-sizing: content-box;
    padding-left: var(--padding-left);
    text-align: var(--text-align, left);
    height: var(--height, fit-content);
    width: var(--width, fit-content);
}

.linebox {
    position: relative;
    height: 8px;
    min-width: 100%;
    pointer-events: none;
}

.imagebox {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    line-height: 0px;
}

img {
    align-self: center;
    image-rendering: pixelated;
    vertical-align: top;
}

/* #region links */
.image[data-url]:hover,
p[data-url]:hover {
    cursor: pointer;
}

.image[data-url]:hover .border,
p[data-url]:hover .border {
    display: inline-block;
}

.border {
    display: none;
    position: absolute;
    top: -3px;
    left: -3px;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    padding: 1px;
}

.borderedge {
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: content-box;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 1px solid transparent;
    border-image-slice: 1;
    border-image-repeat: repeat;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    --mask: conic-gradient(at 6px 6px,#000 75%,#0000 0) -3px -3px;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    pointer-events: none;
    /*mix-blend-mode: overlay;
    background-color: rgba(255 164 164 / 1);*/
}

.bordercorner {
    position: absolute;
    top: 0px;
    left: 0px;
}

@keyframes antcrawl { /* rgb(154 199 245 / 1) */
     0% { border-image-source: url("/resources/images/ants/border-1.png"); }
    25% { border-image-source: url("/resources/images/ants/border-2.png"); }
    50% { border-image-source: url("/resources/images/ants/border-3.png"); }
    75% { border-image-source: url("/resources/images/ants/border-4.png"); }
}

@keyframes antcrawlshadow { /* rgb(61 59 91 / 0.75) */
    0% { border-image-source: url("/resources/images/ants/border-shadow-1.png"); }
   25% { border-image-source: url("/resources/images/ants/border-shadow-2.png"); }
   50% { border-image-source: url("/resources/images/ants/border-shadow-3.png"); }
   75% { border-image-source: url("/resources/images/ants/border-shadow-4.png"); }
}
/* #endregion */

/* #region fonts */
@font-face {
    font-family: 'basic';
    font-size: 7px;
    line-height: 8px;
    src: url('/resources/fonts/somybmp01_7.ttf') format('truetype');
}

@font-face {
    font-family: 'abyssal';
    font-size: 14px;
    line-height: 15px;
    src: url('/resources/fonts/abyssalsomepx2.ttf') format('truetype');
}

@font-face {
    font-family: 'archbishop';
    font-size: 14px;
    line-height: 15px;
    src: url('/resources/fonts/archbishopsomepx2n.ttf') format('truetype');
}

@font-face {
    font-family: 'bijou0';
    font-size: 14px;
    line-height: 15px;
    src: url('/resources/fonts/bijousomepx0n.ttf') format('truetype');
}

@font-face {
    font-family: 'bijou1';
    font-size: 14px;
    line-height: 15px;
    src: url('/resources/fonts/bijousomepx1n.ttf') format('truetype');
}

@font-face {
    font-family: 'blackout0';
    font-size: 14px;
    line-height: 15px;
    src: url('/resources/fonts/blackoutsomepx0n.ttf') format('truetype');
}

@font-face {
    font-family: 'blackout0b';
    font-size: 14px;
    line-height: 15px;
    src: url('/resources/fonts/blackoutsomepx0b.ttf') format('truetype');
}

@font-face {
    font-family: 'blackout1';
    font-size: 14px;
    line-height: 15px;
    src: url('/resources/fonts/blackoutsomepx1n.ttf') format('truetype');
}

@font-face {
    font-family: 'blackout1b';
    font-size: 14px;
    line-height: 15px;
    src: url('/resources/fonts/blackoutsomepx1b.ttf') format('truetype');
}

@font-face {
    font-family: 'blackout2';
    font-size: 14px;
    line-height: 15px;
    src: url('/resources/fonts/blackoutsomepx2n.ttf') format('truetype');
}

@font-face {
    font-family: 'blackout2b';
    font-size: 14px;
    line-height: 15px;
    src: url('/resources/fonts/blackoutsomepx2b.ttf') format('truetype');
}

@font-face {
    font-family: 'bookstore1b';
    font-size: 12px;
    line-height: 13px;
    src: url('/resources/fonts/bookstore1b.ttf') format('truetype');
}

@font-face {
    font-family: 'bookstore1n';
    font-size: 12px;
    line-height: 13px;
    src: url('/resources/fonts/bookstore1n.ttf') format('truetype');
}
/* #endregion */
