#content {
    position: relative;
    box-sizing: border-box;
    background-repeat: repeat;
    background-size: auto;
    background-clip: padding-box;
    background-position: 0% 0%;
    overflow: hidden;
    padding: 0px 7px 0px 7px;
}
.body:not(.minimise) {
    width: 300px;
    image-rendering: pixelated;
}

.free {
    position: absolute !important;
    top: var(--top);
    left: var(--left);
    bottom: var(--bottom);
    right: var(--right);
    margin: 0px;
}

.shift {
    margin-top: var(--top, 7px);
    margin-left: var(--left, 0px);
    margin-bottom: var(--bottom, 7px);
    margin-right: var(--right, 0px);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    position: relative;
    box-sizing: content-box;
    padding-left: var(--padding-left);
    text-align: var(--text-align, left);
    height: var(--height, fit-content);
    width: var(--width, fit-content);
    pointer-events: auto;
}
body:not(.minimise) p {
    line-height: 0px;
    visibility: collapse;
}

.linebox {
    position: relative;
    height: 8px;
    min-width: 100%;
    pointer-events: none;
    line-height: 8px;
    visibility: visible;
}
body.minimise .linebox {
    display: none;
}

.imagebox {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    line-height: 0px;
    visibility: visible !important;
    align-items: center;
}

img {
    vertical-align: top;
    image-rendering: pixelated;
}

body:not(.minimise) a,
body:not(.minimise) a:link,
body:not(.minimise) a:hover,
body:not(.minimise) a:visited,
body:not(.minimise) a:active {
    color: inherit;
    text-decoration: none;
}

p.hidden {
    visibility: hidden !important;
}
p:not(.hidden) {
    animation: 0.3s ease-out 0s 1 loadWave;
}
p.hidden .linebox {
    visibility: hidden !important;
}

@keyframes loadWave {
    0% {
        transform: scale(0.9);
    }
    25% {
        transform: scale(1.03);
    }
    50% {
        transform: scale(0.95);
    }
    75% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(1);
    }
}