#ui {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 25vw;
    height: 25vh;
    pointer-events: none;
    transform: scale(4);
    transform-origin: top left;
}
#windowframe {
    flex-direction: column;
    height: 100%;
    transition: all 0.5s;
}
body:not(.minimise) #windowframe {
    filter: url(#crispify);
}
body.minimise #windowframe {
    transform: scale(1.5);
    opacity: 50%;
    visibility: hidden;
}
#browsericon {
    position: fixed;
    right: 3px;
    bottom: 0px;
    width: 26px;
    height: 30px;
    pointer-events: auto;
    background-position: 0px 71px;
    transition: all 0.5s, background-position 0s, margin-bottom 0s;
}
#browsericon:not(:active) {
    margin-bottom: 1px;
}
body:not(.minimise) #browsericon {
    transform: translate(0px, 40px);
    opacity: 50%;
    visibility: hidden;
}
#browsericon:active {
    margin-bottom: 0px;
    background-position: 0px 41px; 
}

#browsericon,
#bbbody, #ebbody, #ebsbbody, #sbbody, #tbbody, #mbbody,
#wfleft, #wfright,
#tbleft, #tbright,
#ebleft, #ebright,
#ebback, #ebforward, #ebsafe, #ebsearch, #ebinfo,
#ebsbleft, #ebsbsearch,
#sbtop, #sbbottom, #sbbar,
#nbhome, #nbrefresh,
#tbglobe, #tbminimise,
#bbleft, #bbright,
#mbstamp, #mbmusic, #mbright {
    background-image: url("/site_resources/images/sprites.png");
}





.text {
    font-family: 'basic';
    font-size: 7px;
    line-height: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
}

#windowframe, #titlebar, #wfbody, #bottombar, #ebpanel, #ebcontents, #ebsearchbar, #scrollbar, #navigationbar, #mediabar {
    display: flex;
}
#ebpanel, #ebcontents, #titlebar, #bottombar, #navigationbar, #explorerbar, #mediabar {
    width: 100%;
}
#scrollbar {
    flex-direction: column;
    height: 100%
}
#titlebar {
    height: 24px;
    z-index: 2;
}
#bottombar {
    align-items: flex-end;
    height: 27px;
}
#ebpanel, #ebcontents {
    height: 16px;
}
#ebsearchbar {
    margin: 2px 1px 4px 1px;
    height: 10px;
}
#scrollbar {
    width: 9px;
    height: calc(100% + 27px);
    transform: translate(0px,-4px);
    z-index: 2;
}
#mediabar {
    position: absolute;
    bottom: -23px;
    height: 22px;
}





#explorerbar {
    position: absolute;
    top: -5px;
    height: 16px;
    z-index: 1;
}
#ebcontents {
    transform: translate(0px,-16px);
}
#explorerbar, #tbbody, #scrollbar, #mbmusic, #mbbody {
    pointer-events: auto;
}
#wfcontents {
    position: relative;
}





#wfbody, #bbbody, #wfcontents, #ebbody, #ebpage, #ebuser, #ebsearchbar, #ebsbbody, #sbbody, #tbbody, #nbtext {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0px;
    min-height: 0px;
}

#bbbody {
    height: 4px;
    background-position: -190000px -48px;
    background-size: 2530000px 123px;
}
#ebbody {
    min-height: 16px;
    background-position: -990000px -41px;
    background-size: 2530000px 123px;
}
#ebpage, #ebuser {
    margin: 4px 1px 4px 1px;
    color: rgb(94, 66, 128);
}
#ebsbbody {
    border: 0px;
    padding: 1px 1px 1px 1px;
    min-height: 10px;
    color: rgb(220, 175, 240);
    background-color: rgba(0,0,0,0);
    background-position: -1270000px -10px;
    background-size: 2530000px 123px;
}
#ebsbbody:focus {
    outline: none;
}
#ebsbbody::placeholder {
    color: rgb(181, 129, 227);
    opacity: 1;
}
#ebsbbody::selection {
    color: rgb(220, 175, 240);
    background-color: rgba(0,0,0,0);
}
#sbbody {
    position: relative;
    min-width: 9px;
    background-position: -128px -270000px;
    background-size: 253px 1230000px;
}
#tbbody {
    position: relative;
    height: 19px;
    background-position: -210000px 0px;
    background-size: 2530000px 123px;
}
#nbtext {
    padding: 1px 2px 0px 0px;
    color: rgb(220, 175, 240);
}
#wfleft, #wfright {
    min-width: 5px;
    z-index: 2;
}
#wfleft {
    background-position: 0px -240000px;
    background-size: 253px 1230000px;
}
#wfright {
    background-position: -39px -240000px;
    background-size: 253px 1230000px;
}
#ebuser { text-align: right; }
#mbbody {
    margin: 5px 0px 5px 0px;
    padding: 1px 0px 2px 0px;
    width: 0px;
    flex-grow: 0;
    overflow: hidden;
    background-position: -1380000px -62px;
    background-size: 2530000px 123px;
    transition: flex-grow 0.2s linear;
}
#mediabar:not(.disabled) #mbmusic:hover ~ #mbbody,
#mediabar:not(.disabled) #mbbody:hover { flex-grow: 1; }
/*#mediabar:not(.disabled) #mbbody:has(~ #mbright:hover)*/
#mbtext {
    display: block;
    margin: 0px 0px 0px 1px;
    width: fit-content;
    height: 9px;
    color: rgb(239, 232, 158);
}





#tbleft {
    min-width: 21px;
    min-height: 24px;
    background-position: 0px 0px;
}
#tbright {
    min-width: 22px;
    min-height: 24px;
    background-position: -22px 0px;
}
#ebleft,
#ebright {
    min-width: 53px;
    min-height: 16px;
}
#ebleft { background-position: -46px -41px; }
#ebright { background-position: -100px -41px; }
#ebback, #ebforward, #ebsafe, #ebsearch {
    margin: 3px 3px 3px 2px;
    min-width: 13px;
    min-height: 10px;
}
#ebinfo {
    margin: 3px 3px 3px 2px;
    min-width: 12px;
    min-height: 10px;
}
#ebback { background-position: -63px 0px; }
#ebback:active { background-position: -63px -10px; }
#ebback.off { background-position: -63px -20px; }
#ebforward { background-position: -76px 0px; }
#ebforward:active { background-position: -76px -10px; }
#ebforward.off { background-position: -76px -20px; }
#ebsafe { background-position: -89px 0px; }
#ebsafe:active { background-position: -89px -10px; }
#ebsafe.off { background-position: -89px -20px; }
#ebsearch { background-position: -114px 0px; }
#ebcontents.search #ebsearch { background-position: -114px -10px; }
#ebinfo { background-position: -102px 0px; }
#ebinfo:active { background-position: -102px -10px; }
#ebinfo.off { background-position: -102px -20px; }
#ebsbleft {
    min-width: 1px;
    min-height: 10px;
    background-position: -127px 0px;
}
#ebsbsearch {
    border: 0px;
    padding: 0px 0px 0px 0px;
    min-width: 14px;
    min-height: 10px;
    background-position: -114px -20px;
}
#sbtop, #sbbottom {
    min-width: 9px;
    min-height: 9px;
}
#sbtop { background-position: -128px 0px; }
#sbtop:active { background-position: -128px -9px; }
#scrollbar.off #sbtop { background-position: -128px -18px; }
#sbbottom { background-position: -137px 0px; }
#sbbottom:active { background-position: -137px -9px; }
#scrollbar.off #sbbottom { background-position: -137px -18px; }
#sbbar {
    margin-top: var(--top, 0px);
    min-width: 9px;
    min-height: 26px;
    background-position: -44px 0px;
}
#scrollbar.off #sbbar { display: none; }
#nbhome {
    min-width: 12px;
    min-height: 10px;
    background-position: -46px -31px;
    animation: home-color 1s step-end infinite;
}
#nbrefresh {
    margin: 2px 1px 2px 0px;
    min-width: 9px;
    min-height: 6px;
    background-position: -147px -57px;
}
#nbtextfirst { padding: 0px 0px 0px 2px; }
.nbtext { padding: 0px 0px 0px 1px; }
#tbglobe {
    margin: 3px 1px 5px 4px;
    min-width: 16px;
    min-height: 16px;
    background-position: -237px 0px;
}
#tbminimise {
    margin: 2px 4px 8px 3px;
    min-width: 15px;
    min-height: 14px;
    pointer-events: auto;
    background-position: -23px -24px;
}
#tbminimise:active { background-position: -23px -38px; }
#tbtitle {
    padding: 1px 1px 0px 1px;
    color: rgb(48, 36, 84);
}
#bbleft, #bbright { min-height: 27px; }
#bbleft {
    min-width: 19px;
    background-position: 0px -25px;
}
#bbright {
    min-width: 6px;
    background-position: -38px -25px;
}
#mbstamp, #mbmusic, #mbright { min-height: 22px; }
#mbstamp {
    min-width: 26px;
    background-position: -112px -57px;
}
#mbmusic { min-width: 37px; }
#mediabar.disabled #mbmusic { background-position: -75px -57px; }
#mediabar:not(.disabled) #mbmusic { background-position: -112px -79px; }
#mediabar:not(.disabled) #mbmusic:active { background-position: -112px -101px; }
#mediabar:not(.disabled).on #mbmusic { background-position: -75px -79px; }
#mediabar:not(.disabled).on #mbmusic:active { background-position: -75px -101px; }
#mbright {
    visibility: hidden;
    margin: 0px 1px 0px 0px;
    min-width: 4px;
    background-position: -139px -57px;
    transition-delay: 0.2s;
}
#mediabar:not(.disabled) #mbmusic:hover ~ #mbright,
#mediabar:not(.disabled) #mbbody:hover ~ #mbright,
#mediabar:not(.disabled) #mbright:hover { visibility: visible; transition-delay: 0s; }

#browsericon:hover, #tbminimise:hover, #ebsbsearch:hover, #sbtop:hover, #sbbottom:hover, #mediabar:not(.disabled) #mbmusic { cursor: url("/site_resources/cursor/mouse02.png") 16 1, pointer; }

#ebsearchbar { display: none; }
#ebcontents.search #ebpage, #ebcontents.search #ebuser { display: none; }
#ebcontents.search #ebsearchbar { display: flex; }

#ebback.off, #ebforward.off, #ebsafe, #ebinfo.off, #scrollbar.off #sbtop, #scrollbar.off #sbbottom, #scrollbar.off #sbbar { pointer-events: none; }

@keyframes home-color {
    0%, 100% {  background-position: -46px -31px; }
    14.2857142857% { background-position: -58px -31px; }
    28.5714285714% { background-position: -70px -31px; }
    42.8571428571% { background-position: -82px -31px; }
    57.1428571429% { background-position: -94px -31px; }
    71.4285714286% { background-position: -106px -31px; }
    85.7142857143% { background-position: -118px -31px; }
}